services:

  redis:
    image: redis:alpine3.22


    ports:
      - "6379:6379"
  
    networks:
      - appnet

  
  postgres:
    image: postgres:15.15-trixie


    environment:
      POSTGRES_PASSWORD: "pass_dev"
      POSTGRES_USER: "user_dev"
      POSTGRES_DB: "db_dev"
  
    ports:
      - "5432:5432"
    networks:
      - appnet


networks:
  appnet: {}


