name: dev


services:

  redis:
    image: redis:alpine3.22


    ports:
      - "6379:6379"

    volumes:
      - redis-data:/data
  
    networks:
      - appnet

  
  postgres:
    image: postgres:15.15-trixie


    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
  
    ports:
      - "5432:5432"
    networks:
      - appnet




networks:
  appnet: {}

volumes:
  redis-data:


