name: prod


services:


  bot:
    build: .
    depends_on:
      - postgres
      - redis

    env_file:
      - .env

    restart: always


    networks:
      - appnet


  redis:
    image: redis:alpine3.22
    restart: always

    volumes:
      - redis-data:/data

  
    networks:
      - appnet

  
  postgres:
    image: postgres:15.15-trixie
    restart: always

    volumes:
      - db-data:/var/lib/postgresql/data

    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}


    networks:
      - appnet


networks:
  appnet: {}

volumes:
  db-data:
  redis-data:




  